table {
  width: 100%;
}

.mat-column-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-title {
  padding-left: 16px;
  font-size: 18px;
}

th.mat-sort-header-sorted {
  color: black;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  // bottom: 56px;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
